<%- include("partials/header") %>

<main class="container py-4 text-center">
    <h1>Accès refusé</h1>
    Les quiz sont réservés aux utilisateurs connectés.
    Veuillez vous connecter pour jouer.
    <a class="p-2" href="/login">Se connecter</a>
</main>
  
<%- include("partials/footer") %>